
<div class="menu-bar-content">
<ul>
    <li><a href="~/Home/Index">Trang Chủ</a></li>
        <vc:models></vc:models>
    <li><a href="">Loại Máy<i style="margin-left:5px;" class="fas fa-sort-down"></i></a>
       <div class="submenu">
          <vc:categories></vc:categories>
       </div>
    </li>
    <li><a href="">Hãng<i style="margin-left:5px;" class="fas fa-sort-down"></i></a>
       <div class="submenu">
          <vc:brands></vc:brands>
       </div>
    </li>

</ul>
</div>