@{
    Layout = "LayoutCart";
}

@using Microsoft.AspNetCore.Identity
@using Project_PhoneStore.Areas.Identity
@using Project_PhoneStore.Models

@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager
@model  User

<!-- dashboard inner -->
<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                   
                </div>
            </div>
        </div>
        <div class="row column1">
            <div class="col-md-2"></div>
            <div class="col-md-8">
               
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>User Profile</h2>
                        </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="col-lg-12">
                            <div class="full dis_flex center_text">
                                <div class="profile_img">
                                    <img width="180" class="rounded-circle" src="~/assets/image/@Model.Image" alt="Profile Image" />
                                </div>
                                <div class="profile_contant">
                                    <div class="contact_inner">
                                        <h3>@Model.UserName</h3>
                                        <p><strong>About:</strong></p>
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-envelope-o"></i>Email: @Model.Email</li>
                                            <li><i class="fa fa-phone"></i>Phone: @Model.PhoneNumber</li>
                                            <li>Ngày Tạo: @Model.CreatedAt</li>
                                        </ul>
                                        <a href="~/User/UpdateProfile" class="edit-link">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .midde_cont {
        padding: 20px;
    }

    .column_title {
        text-align: center;
        margin-bottom: 20px;
    }

    .page_title h2 {
        margin: 0;
        font-size: 24px;
        color: #333;
    }

    .column1 {
        margin-bottom: 20px;
    }

    .white_shd {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    .graph_head {
        margin-bottom: 20px;
    }

    .heading1 {
        text-align: center;
        margin: 0;
    }

        .heading1 h2 {
            font-size: 24px;
            color: #333;
        }

    .price_table {
        padding: 0 20px;
    }

    .padding_infor_info {
        padding: 20px 0;
    }

    .profile_img {
        margin-right: 20px;
    }

        .profile_img img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
        }

    .profile_contant {
        display: flex;
        align-items: center;
    }

    .contact_inner {
        margin-left: 20px;
    }

        .contact_inner h3 {
            margin: 0;
            font-size: 20px;
            color: #333;
        }

        .contact_inner p {
            font-weight: bold;
        }

        .contact_inner ul {
            margin-top: 10px;
            padding-left: 0;
        }

        .contact_inner li {
            margin-bottom: 10px;
            list-style: none;
            color: #666;
        }

        .contact_inner .fa {
            margin-right: 5px;
        }

    .edit-link {
        color: blue;
        text-decoration: none;
    }

        .edit-link:hover {
            text-decoration: underline;
        }</style>
